*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.button{
    width:50px; 
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: black; 
    border-radius:10px; 
    color: black;
    font-family: 'Open Sans', sans-serif;
   
}
#title{
   
    font-size: 20px;
    margin: 0px;
}
.main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);

}
#n0{
     margin-left: -56px; 
     margin-top:1px;
  
}

.button{
    width: 50px;
    height: 50px;
    font-size: 40px;
    margin: 2;
    cursor: pointer;
    background: yellow;
}
.textoVisor{
    width: 200px;
    margin: 5px; 
    font-size: 25px;
    padding: 5px;
    color: #607d8b;
    margin-top:10px;
    
}

#logo-calc{
     margin-left: -15px;
     width:300px;
     height:65px;
}