body{
    background-image: url("fundo-bits.jpg");
  
}
#apresentacao{
    font-family: 'Potta One', cursive;
    margin-top: 33px!important;
    margin-left: 32px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2em; color: pink;
    
   
}

.button{
    width:50px; 
    height: 60px;
    font-size: 25px;
    margin: 1px;
    cursor: pointer;
    border-radius:30px; 
    font-family: 'Press Start 2P', cursive;
   
}
#title{
   
    font-size: 20px;
    margin: 0px;
}
.main{
    margin-top: -100px;
    position: absolute;
    top:50%;
    left:50%;
    border-color: white;
    border: solid 2px;
    border-radius:5px;
    transform: translateX(-50%) translateY(-50%);

}
#n0{
     margin-left: -58px; 
     margin-top:1px;
  
}

.button{
    width: 59px;
    height: 59px;
    font-size: 30px;
    cursor: pointer;
    background: pink;
    transition: 0.3s;
}

.button:hover{
    opacity: 0.7;
}
.textoVisor{
    width: 250px;
    margin: 5px; 
    font-size: 25px;
    padding: 5px;
    color: #607d8b;
    margin-top:10px;
    
}

